{% extends 'Juegos-Multimedia/base.html' %}
{% load static %}

{% block title %}Introducción{% endblock %}


<!-- Custom block content -->
{% block content %}
    <form action="/500/multimedia/to_game/" method="POST" id="form_Gen_SesionJuegoForm_id">
        {% csrf_token %}
        <div class="wrapper">
            <div class="square_intro">
                <div id="qrcode"></div>
                <div class="btnSound"><i class="fas fa-volume-up"></i></div>
                <div class="title">Introducción</div>
                <p>{{ intro }}</p>
                <button type="submit" class="btnContinue" id="btnCode">Continuar</button>

            </div>
        </div>
    </form>
{% endblock %}



<!-- Custom block for javascript -->
{% block js_script %}

    <script>
        const qr_code = '{{ qr_code }}';
        console.log('qrv : ' + qr_code)

        if (qr_code !== '')
            new QRCode(document.getElementById("qrcode"), qr_code);
        $(document).ready(function() {
            $("form#form_Gen_SesionJuegoForm_id").submit(function (e) {
                e.preventDefault();
                let url_ = $(this).attr('action');
                let fields = new FormData(this);
                fields.append('code', '{{ code }}');
                fields.append('name', '{{ name }}');
                sendToServer(url = url_, data = fields, method = 'POST')
                    .then(data => {
                        if (data.message !== "ok") {
                            shakeAndTurnRed('.inputText')
                            showError(data.message,2.5, '#F2676C');
                            return
                        }
                        window.location.href = data.url;
                    })
            });
        });

        //verify qr scann
        function sendPostRequest() {
            if (qr_code === '') return
            const requestObj = new XMLHttpRequest();
            requestObj.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    const jsonResponse = JSON.parse(this.responseText);
                    if (jsonResponse.message === 'ok'){
                        window.location.href = jsonResponse.url;
                        {#console.log('cambio de url' + jsonResponse.url)#}
                    }

                }
            };
            requestObj.open("POST", "/500/multimedia/check/", true);
            requestObj.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            const data = new FormData();
            data.append('token', qr_code);
            requestObj.send(data);
        }
        setInterval(sendPostRequest, 2000);

        {#if (this.responseText == "True"){#}
        {#    window.location.href = '/500/multimedia/ingresoNombre/'#}
        {# }else{#}
        {#        alert("Codigo incorrecto")#}
        {#    }#}
    </script>
{% endblock %}
