{% extends 'crud/body.html' %}
{% load static %}
{% load quichua_tags %}

{% block headScripts %}
    <!-- DataTables  & Plugins -->
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">

    <link rel="stylesheet"
          href="{% static 'lib/adminlte-3.1.0/js/datatable_spanish.json' %}">
    <style>
        table.dataTable thead tr {
            background-color: #f7f7f7;
        }

        table {
            border-collapse: collapse;
            border-radius: 1em;
            overflow: hidden;
        }

        .table-edit-pencil {
            display: inline-block;
            width: 16px;
            height: 16px;
        }

        .btn {
            font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }

        .my-custom-scrollbar {
            position: relative;
            height: 300px;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }
    </style>
    {% block headScriptsList %}
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><b>{{ page_title }}</b></h3>
            <div class="card-tools">

{#                {% if url_form_add and permisos == 1 %}#}

                    <a href="{{ url_form_add }}" class="btn btn-outline-primary btn-sm" style="width: 100px;">
                        <i class="fas fa-file-medical"></i> Agregar
                    </a>
{#                {% endif %}#}
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="{{ datatable_id }}"
                   class="table table-sm table-hover table-bordered table-striped dataTable dtr-inline"
                   style="border-collapse: collapse; border-radius: 0.5em; overflow: hidden;">
                <thead>
                <tr>
                    {% if url_form_edit %}
                        <th style="text-align:center"></th>
                    {% endif %}
                    {% if url_form_print %}
                        <th style="text-align:center"></th>
                    {% endif %}
                    {% for field in show_fields %}
                        <th style="font-size: .85rem!important; text-align:center; ">
                            {% get_verbose_field_name object_list.model field %}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for obj in object_list %}
                    <tr>
                        {% if url_form_edit %}
                            <td style="text-align:center; vertical-align: middle; padding: 2px 8px;">
                                <a href="{% url url_form_edit obj.pk %}">
                                    <img id ="icono_editar" src="{% static '/img/list-edit-pencil.png' %}" alt="Edit"
                                         class="table-edit-pencil"></a>
                            </td>
                        {% endif %}
                        {% if url_form_print %}
                            <td style="text-align:center; vertical-align: middle; padding: 8px 12px;">
                                <a id="{{ obj.pk }}" href="#" onClick="downloadReport('{{ obj.pk }}')">
                                    <i class="fas fa-download"></i>
                                </a>
                            </td>
                        {% endif %}
                        {% for field in show_fields %}
                            <td style="font-size: .86rem!important; vertical-align: middle; padding: 8px 12px;">
                                {% setvar show_fields|get_value_from_dict:field as field_method %}
                                {% if field_method is None %}
                                    {{ obj|get_object_attr:field }}
                                {% else %}
                                    {{ obj|get_object_attr:field_method }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                            {% block tabfooter %}
                {% endblock %}
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    {% block contentList %}
    {% endblock %}
{% endblock %}

{% block bodyFooterScripts %}
    <!-- Toastr messages -->
    <link rel="stylesheet" type="text/css" href="{% static 'lib/adminlte-3.1.0/plugins/toastr/toastr.css' %}"
          media="all">
    <script type="text/javascript" src="{% static 'lib/adminlte-3.1.0/plugins/toastr/toastr.min.js' %}"></script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
    {% endif %}

    <!-- DataTables  & Plugins -->
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'json/adminlte.js' %}" type="text/javascript"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            table_opts ={{ datatable_opts | js }};
            table_opts['language'] = table_es;
            if (table_opts.drawCallback != null) {
                eval("table_opts.drawCallback=" + fn_drawCallback);
            }
            $("#{{ datatable_id }}").DataTable(table_opts);
        });
    </script>
    <!-- Print method -->
    <script src="{% static 'js/util_dev.js' %}"></script>


    {% csrf_token %}

    <script type="text/javascript">
        //btnDownload_id
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        //download specific report with pk
        // funciona solo para listas en donde se necesite un reporte con una llave primaria
        // se mostrara en la segunda columna dela fila
        function downloadReport(pk) {
            fields = new FormData();
            fields.append('pk', pk);
            fields.append('PRINT', '');
            /*sendToServer(url = "{{ url_list }}", data = fields, method = 'POST', returntype = 2)
                .then(data => {
                    fn_generateDownloadPdf(data, "{{ page_title }}")
                });*/
            sendToServer(url = "{{ url_list }}", data = fields, method = 'POST', returntype = 3)
                .then(data => {name=data.name; return data.blob}).then(data2 => {
                    fn_generateDownloadPdf(data2, name);
            });
        }
    </script>
    {% block bodyFooterScriptsList %}
    {% endblock %}
{% endblock %}
