{% extends 'crud/bodyFormCrispy.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block headScriptsForm %}
    <script src="{% static 'js/syncfusion.js' %}"></script>
    <script src="{% static 'js/util_dev.js' %}"></script>
    <script src="{% static 'lib/adminlte-3.1.0/plugins/jquery/jquery.min.js' %}"></script>

{% endblock %}


{% block contentForm %}
{% endblock %}


{% block bodyFooterScriptsForm %}
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <script src="{% static 'js/sis_informacion_editor.js' %}"></script>
    <script>

        $(document).on('keydown', '.ck', function (event) {
            if (event.key === 'Enter') {
                {##}
                {#var cursorPosition = event.target.selectionStart;#}
                {#var currentValue = event.target.value;#}
                {#var newValue = currentValue.substring(0, cursorPosition) + '\n' + currentValue.substring(cursorPosition);#}
                {#event.target.value = newValue;#}
                {##}
                {#// Actualiza la posición del cursor#}
                {#event.target.selectionStart = cursorPosition + 1;#}
                {#event.target.selectionEnd = cursorPosition + 1;#}
                {##}
                {#event.preventDefault();#}
                {##}
                // Insertar un salto de línea en el contenido del campo de texto
                var editorElement = event.target;
                var editorInstance = editorElement.ckeditorInstance;

                if (editorInstance && Contador==0) {
                    {#alert('comorl', Contador);#}
                    Contador = 1;
                    // Inserta un salto de línea en el editor
                    editorInstance.execute('shiftEnter');

            event.preventDefault();
                }
            }
        });

        // Reinicia el contador cuando se suelta la tecla
    $(document).on('keyup', '.ck', function (event) {
        if (event.key === 'Enter' && Contador == 1) {
            {#alert('suelto');#}
            Contador = 0;
        }
});
    </script>

    {# Convierte el grid de texto a un json para maniuplarlo #}
    {{ grids_detalles|json_script:"gr_dets" }}

    <script>
        const gr_dets = get_json_from_script();
        console.log(gr_dets)
        const elem_informacion = gr_dets[0];
        //para eliminar y cambiar el estado en un campo de la grid segun corresponda
        eval("elem_informacion.gridOptions.toolbarClick=" + elem_informacion.gridOptions.toolbarClick);
        eval("elem_informacion.gridOptions.rowDataBound=" + elem_informacion.gridOptions.rowDataBound);

        //Inicializa el grid (Detalle)
        var grid = [];
        ej.grids.Grid.Inject(ej.grids.Edit);
        {#const grid = new ej.grids.Grid(elem_unimeds.gridOptions);#}

        grid[0] = new ej.grids.Grid(elem_informacion.gridOptions);
        grid[0].appendTo("#" + elem_informacion.grid_id);


        $("form#form_Sis_InformacionForm_id button[type = 'submit']").click(function (e) {
            e.preventDefault();
            btnClicked = $(this).attr("name");

            form = document.querySelector('#form_Sis_InformacionForm_id');
            fields = new FormData(form);
            fields.append(btnClicked, '');
            fields.append(elem_informacion.grid_id, JSON.stringify(elem_informacion.gridOptions.dataSource));

            sendToServer(url = form.action, data = fields, method = form.method)
                .then(data => {
                    console.log(data)
                    //recupera los errores ya mostrados en pantalla
                    let elms = document.querySelectorAll("[id='error']");
                    let elements = document.getElementsByClassName('is-invalid');
                    //borrar los errores en pantalla
                    for (let i = 0; i < elements.length; i++) {
                        document.getElementById(elements[i].id).classList.remove('is-invalid');
                    }
                    // si la data = 1 significa que la petición no tiene errores

                    if (data.a != 1) {
                        for (let i = 0; i < elms.length; i++) {
                            elms[i].parentNode.removeChild(elms[i]); //borra los errores en pantalla
                        }
                        imprimir_errores(data); //muestra los errores en pantalla
                    } else {
                        window.location.replace("{{url_list}}"); //redirecciona
                    }
                });
        });
    </script>
    <style>
        .ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred {
        height: 200px;
        max-height: 200px;
        overflow-y: auto;
    }

    .ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-focused {
        height: 200px;
        max-height: 200px;
        overflow-y: auto;
    }
    </style>


{% endblock %}




